/* app css stylesheet */

body {
  padding-top: 20px;
}

.table {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
  border: 1px solid gray;
}


h1 {
  border-bottom: 1px solid gray;

}

#navbar {

	 padding-bottom: 10em;

}
