/* app css stylesheet */

body {
  padding-top: 20px;
  
  
}

.table {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
  border: 1px solid gray;
}


h1 {
  border-bottom: 3px solid #daad86;

}
.active{
   
    border: medium none;
    border-radius: 0;
    color:black;
    border-bottom:   1px solid black;
    border-top:   1px solid black;
    padding:5px;
}


#lineFighter{
	float: top;
	float: right;
    width: 63%;
    
    
    padding-top:20px;
} 

#height{
	float:right;
}
  
.thumbnailfighter {
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
    background-color: #98dafc;
    border : 3px solid #daad86;
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 0%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
    list-style-type: none;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* remove bullet points of list */  

}
.thumbnailfighter img {
  height: auto;
  width: 350px;
  margin: 0 auto;
  display:block;
}
#fightertitle {
  
 text-align: center;
 color: white;
    text-shadow: 2px 2px 4px #000000;
  
}

#wiki img
{
  display: none;
  margin: auto;
    width: 50px;

}

#pie{
	display: none;
  margin: auto;
    width: 50%;

}
#tweet{
  float:right;
  padding-right: 20%;
  padding-top: 50px;
}
#tweet2{
  float:right;
  width:62%;
  padding-top: 50px;
}
.thumbnailfighter li{
	 list-style-type: none;
   color: white;
    text-shadow: 2px 2px 4px #000000;
}

.thumbnailfighter h2{
	 text-align: center;
	 color: #312c32;
   color: white;
    text-shadow: 2px 2px 4px #000000;
}
.thumbnailfighter h3{
   text-align: center;
   color: white;
    text-shadow: 2px 2px 4px #000000;
   
}


#outer:hover #pie {
  
  display: block;
   border-top: 3px solid #daad86;
  
}
#outer:hover #wiki img {
  
 display:inline;
   
  
}

#navbar {

	 padding-bottom: 1em;
    
}
#searchbar{
	margin: auto;
    width: 50%;
    border: 3px solid #daad86;
    padding: 10px;
    text-align: center;
    background-color: #98dafc;
    padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.thumbnailfighter #PieChart{
  border:black;
}


