/* app css stylesheet */

body {
  padding-top: 20px;
}

.table {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
  border: 1px solid gray;
}


h1 {
  border-bottom: 1px solid gray;

}

.thumbnailfighter {
  padding-left: 10px;
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: #C0B283;
}
.thumbnailfighter img {
  height: auto;
  width: 350px;
  
}
#navbar {

	 padding-bottom: 1em;

}
